# make data as a one year

In [1]:
import pandas as pd 

path_combined_data=r'D:\Grenoble_university\6_month_internship\working space\data\combined_data.xlsx'
combined_data=pd.read_excel(path_combined_data)
combined_data

,Weekday,date,"Fridge (Kitchen, 180l)","Halogen lamp 1 (0,5kW)",Power supply for wood boiler (),Site consumption (),Total site light consumption (),"Vertical freezer (Cellar, 145l)",Washing machine (),Water heater ()
0,Thursday,01/22/1998 13:40,0,12,20,294,45,38,0,37
1,Thursday,01/22/1998 13:50,11,0,11,85,3,18,0,37
2,Thursday,01/22/1998 14:00,0,0,11,58,0,1,0,35
3,Thursday,01/22/1998 14:10,0,0,10,176,0,0,0,38
4,Thursday,01/22/1998 14:20,0,0,11,67,0,0,0,44
...,...,...,...,...,...,...,...,...,...,...
53976,Monday,02/01/1999 09:40,0,0,6,202,9,4,0,76
53977,Monday,02/01/1999 09:50,0,0,7,220,8,21,0,81
53978,Monday,02/01/1999 10:00,0,0,6,225,8,5,0,99
53979,Monday,02/01/1999 10:10,13,0,7,188,10,0,0,54
53980,Monday,02/01/1999 10:20,13,0,6,540,12,0,0,438

In [42]:
import pandas as pd

# Define the path to the Excel file
path_combined_data = r'D:\Grenoble_university\6_month_internship\working space\data\combined_data.xlsx'

# Read the Excel file into a dictionary of DataFrames, with sheet names as keys
combined_data_dict = pd.read_excel(path_combined_data, sheet_name=None)

# Define a function to filter outliers based on a specified date range
def filter_outliers(df, start_date, end_date):
    # Convert 'date' column to datetime format
    df['date'] = pd.to_datetime(df['date'])
    
    # Filter data for specified date range
    mask = (df['date'] >= start_date) & (df['date'] < end_date)
    filtered_df = df.loc[mask]
    
    return filtered_df

# Dictionary to specify start and end dates for each sheet
date_ranges = {
    '2000900': ('1998-01-22', '1999-01-22'),
    '2000901': ('1998-01-22', '1999-01-22'),
    '2000902': ('1998-02-04', '1999-02-04'),
    '2000903': ('1998-01-23', '1999-01-23'),
    '2000904': ('1998-01-25', '1999-01-25'),
    '2000905': ('1998-01-23', '1999-01-23')
}

# Create an ExcelWriter object
with pd.ExcelWriter('filtered_data_with_date_ranges.xlsx', engine='xlsxwriter') as excel_writer:
    # Loop through each sheet in the Excel file
    for sheet_name, df in combined_data_dict.items():
        if sheet_name in date_ranges:
            start_date, end_date = date_ranges[sheet_name]
            filtered_df = filter_outliers(df, start_date, end_date)
            filtered_df.to_excel(excel_writer, sheet_name=sheet_name, index=False)

print("Filtered data saved successfully.")

Filtered data saved successfully.

In [1]:
import pandas as pd

# Define the path to the Excel file
path_combined_data = r'D:\Grenoble_university\6_month_internship\working space\data\combined_data_with_flexibility.xlsx'

# Read the Excel file into a dictionary of DataFrames, with sheet names as keys
combined_data_dict = pd.read_excel(path_combined_data, sheet_name=None)

# Define a function to filter outliers based on a specified date range
def filter_outliers(df, start_date, end_date):
    # Convert 'date' column to datetime format
    df['date'] = pd.to_datetime(df['date'])
    
    # Filter data for specified date range
    mask = (df['date'] >= start_date) & (df['date'] < end_date)
    filtered_df = df.loc[mask]
    
    # Group the data by 'date' column and resample with a 10-minute frequency
    filtered_df = filtered_df.groupby(pd.Grouper(key='date', freq='10min')).first().reset_index()
    
    # Fill missing values
    filtered_df=filtered_df.result.infer_objects(copy=False)
  

    return filtered_df

# Dictionary to specify start and end dates for each sheet
date_ranges = {
    '2000900': ('1998-01-22', '1999-01-22'),
    '2000901': ('1998-01-22', '1999-01-22')
}

pd.set_option('future.no_silent_downcasting', True)

# Create an ExcelWriter object
with pd.ExcelWriter('filtered_data_with_date_ranges.xlsx', engine='xlsxwriter') as excel_writer:
    # Loop through each sheet in the Excel file
    for sheet_name, df in combined_data_dict.items():
        if sheet_name in date_ranges:
            start_date, end_date = date_ranges[sheet_name]
            filtered_df = filter_outliers(df, start_date, end_date)
            filtered_df.to_excel(excel_writer, sheet_name=sheet_name, index=False)

print("Filtered data saved successfully.")

C:\Users\MSI\AppData\Local\Temp\ipykernel_5644\94641176.py:22: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  filtered_df=filtered_df.ffill().infer_objects(copy=False)
C:\Users\MSI\AppData\Local\Temp\ipykernel_5644\94641176.py:22: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  filtered_df=filtered_df.ffill().infer_objects(copy=False)

Filtered data saved successfully.

In [2]:
import pandas as pd

# Define the path to the Excel file
path_combined_data = r'D:\Grenoble_university\6_month_internship\working space\data\combined_data.xlsx'

# Read the Excel file into a dictionary of DataFrames, with sheet names as keys
combined_data_dict = pd.read_excel(path_combined_data, sheet_name=None)

# Define a function to filter outliers based on a specified date range
def filter_outliers(df, start_date, end_date):
    # Convert 'date' column to datetime format
    df['date'] = pd.to_datetime(df['date'])
    
    # Filter data for specified date range
    mask = (df['date'] >= start_date) & (df['date'] < end_date)
    filtered_df = df.loc[mask]
    
    # Group the data by 'date' column and resample with a 10-minute frequency
    filtered_df = filtered_df.groupby(pd.Grouper(key='date', freq='10min')).first().reset_index()
    
    # Fill missing values
    filtered_df = filtered_df.ffill()
    
    return filtered_df

# Dictionary to specify start and end dates for each sheet
date_ranges = {
    '2000900': ('1998-01-22 13:40:00', '1999-01-22 13:50:00'),
    '2000901': ('1998-01-22 17:40:00', '1999-01-22 17:50:00'),
    '2000902': ('1998-02-04 16:40:00', '1999-02-04 16:50:00'),
    '2000903': ('1998-01-23 11:20:00', '1999-01-23 11:30:00'),
    '2000904': ('1998-01-25 11:30:00', '1999-01-25 11:40:00'),
    '2000905': ('1998-01-23 19:10:00', '1999-01-23 19:20:00'),
    '2000906': ('1998-01-26 16:00:00', '1999-01-26 16:10:00'),
    '2000907': ('1998-01-26 19:20:00', '1999-01-26 19:30:00'),
    '2000908': ('1998-01-28 12:20:00', '1999-01-28 12:30:00'),
    '2000909': ('1998-01-28 15:20:00', '1999-01-28 15:30:00'),
    '2000910': ('1998-01-28 19:50:00', '1999-01-28 20:00:00'), 
    '2000911': ('1998-01-29 12:00:00', '1999-01-29 12:10:00'),
    '2000912': ('1998-01-29 16:30:00', '1999-01-29 16:40:00'), 
    '2000913': ('1998-01-29 19:10:00', '1999-01-29 19:20:00'),
    '2000914': ('1998-02-04 12:50:00', '1999-02-04 13:00:00'),
    '2000915': ('1998-02-05 14:50:00', '1999-02-05 15:00:00'), 
    '2000916': ('1998-02-05 20:30:00', '1999-02-05 20:40:00'),
    '2000917': ('1998-02-12 14:20:00', '1999-02-12 14:30:00'), 
    '2000918': ('1998-02-12 18:10:00', '1999-02-12 18:20:00'),
    '2000919': ('1998-02-14 11:40:00', '1999-02-14 11:50:00'),
    '2000920': ('1998-02-13 18:00:00', '1999-02-13 18:10:00'),
    '2000921': ('1998-02-17 14:30:00', '1999-02-17 14:40:00'),
    '2000922': ('1998-02-17 19:50:00', '1999-02-17 20:00:00'),
    '2000923': ('1998-02-18 12:40:00', '1999-02-18 12:50:00'),
    '2000924': ('1998-02-18 14:50:00', '1999-02-18 15:00:00'),
    '2000925': ('1998-02-19 14:10:00', '1999-02-19 14:20:00'),
    '2000926': ('1998-02-21 16:10:00', '1999-02-21 16:20:00'),
    '2000927': ('1998-02-20 13:20:00', '1999-02-20 13:30:00'),
    '2000928': ('1998-02-21 13:30:00', '1999-02-21 13:40:00'),
    '2000929': ('1998-02-24 18:20:00', '1999-02-24 18:30:00'),
    '2000930': ('1998-02-25 13:40:00', '1999-02-25 13:50:00'),
    '2000931': ('1998-02-25 19:00:00', '1999-02-25 19:10:00'),
    '2000932': ('1998-02-26 13:50:00', '1999-02-26 14:00:00'), 
    '2000933': ('1998-03-04 13:20:00', '1999-03-04 13:30:00'),
    '2000934': ('1998-03-04 22:30:00', '1999-03-04 22:40:00'),
    '2000935': ('1998-03-05 14:10:00', '1999-03-05 14:20:00'),
    '2000936': ('1998-03-05 19:50:00', '1999-03-05 20:00:00'),
    '2000937': ('1998-03-11 20:10:00', '1999-03-11 20:20:00'),
    '2000938': ('1998-03-19 19:30:00', '1999-03-19 19:40:00'),
    '2000939': ('1998-03-06 13:40:00', '1999-03-06 13:50:00'),
    '2000940': ('1998-03-13 21:20:00', '1999-03-13 21:30:00'),
    '2000941': ('1998-03-25 15:10:00', '1999-03-25 15:20:00'),
    '2000942': ('1998-03-10 12:30:00', '1999-03-10 12:40:00'),
    '2000943': ('1998-03-07 13:20:00', '1999-03-07 13:30:00'),
    '2000944': ('1998-03-11 14:00:00', '1999-03-11 14:10:00'),
    '2000945': ('1998-03-12 16:10:00', '1999-03-12 16:20:00'), 
    '2000946': ('1998-03-25 21:20:00', '1999-03-25 21:30:00'), 
    '2000947': ('1998-03-27 18:50:00', '1999-03-27 19:00:00'),
    '2000948': ('1998-03-30 21:20:00', '1999-03-30 21:30:00'),
    '2000949': ('1998-03-07 19:50:00', '1999-03-07 20:00:00'), 
    '2000950': ('1999-02-15 13:40:00', '2000-02-15 13:50:00'),
    '2000951': ('1999-02-15 18:20:00', '2000-02-15 18:30:00'),
    '2000952': ('1999-02-22 12:10:00', '2000-02-22 12:20:00'),
    '2000953': ('1999-02-16 17:40:00', '2000-02-16 17:50:00'),
    '2000954': ('1999-02-17 12:10:00', '2000-02-17 12:20:00'), 
    '2000955': ('1999-02-22 16:40:00', '2000-02-22 16:50:00'),
    '2000956': ('1999-02-18 11:00:00', '2000-02-18 11:10:00'),
    '2000957': ('1999-02-18 17:50:00', '2000-02-18 18:00:00'),
    '2000958': ('1999-02-19 11:30:00', '2000-02-19 11:40:00'),
    '2000959': ('1999-02-19 16:10:00', '2000-02-19 16:20:00'),
    '2000960': ('1999-02-23 11:10:00', '2000-02-23 11:20:00'),
    '2000961': ('1999-02-23 16:10:00', '2000-02-23 16:20:00'),
    '2000962': ('1999-02-24 18:40:00', '2000-02-24 18:50:00'),
    '2000963': ('1999-02-25 10:30:00', '2000-02-25 10:40:00'),
    '2000964': ('1999-02-25 17:00:00', '2000-02-25 17:10:00'),
    '2000965': ('1999-02-26 10:00:00', '2000-02-26 10:10:00'),
    '2000966': ('1999-03-29 18:10:00', '2000-03-29 18:20:00'),
    '2000967': ('1999-04-13 08:50:00', '2000-04-13 09:00:00'),
    '2000968': ('1999-03-30 12:40:00', '2000-03-30 12:50:00'), 
    '2000969': ('1999-04-12 19:40:00', '2000-04-12 19:50:00'),
    '2000970': ('1999-03-31 13:10:00', '2000-03-31 13:20:00'),
    '2000971': ('1999-04-04 18:00:00', '2000-04-04 18:10:00'),
    '2000972': ('1999-04-01 10:40:00', '2000-04-01 10:50:00'),
    '2000973': ('1999-04-01 19:00:00', '2000-04-01 19:10:00'), 
    '2000974': ('1999-04-08 18:30:00', '2000-04-08 18:40:00'),
    '2000975': ('1999-04-02 18:50:00', '2000-04-02 19:00:00'), 
    '2000976': ('1999-04-03 12:20:00', '2000-04-03 12:30:00'), 
    '2000977': ('1999-04-03 18:40:00', '2000-04-03 18:50:00'),
    '2000978': ('1999-04-06 13:10:00', '2000-04-06 13:20:00'), 
    '2000979': ('1999-04-06 18:10:00', '2000-04-06 18:20:00'), 
    '2000980': ('1999-04-07 13:20:00', '2000-04-07 13:30:00'),
    '2000981': ('1999-04-30 19:50:00', '2000-04-30 20:00:00'), 
    '2000982': ('1999-04-09 11:40:00', '2000-04-09 11:50:00'),
    '2000983': ('1999-04-09 19:10:00', '2000-04-09 19:20:00'),
    '2000984': ('1999-04-10 12:20:00', '2000-04-10 12:30:00'),
    '2000985': ('1999-04-10 17:20:00', '2000-04-10 17:30:00'),
    '2000986': ('1999-04-27 11:20:00', '2000-04-27 11:30:00'),
    '2000987': ('1999-04-27 17:00:00', '2000-04-27 17:10:00'),
    '2000988': ('1999-04-21 11:20:00', '2000-04-21 11:30:00'),
    '2000989': ('1999-04-22 12:10:00', '2000-04-22 12:20:00'),
    '2000990': ('1999-04-24 06:20:00', '2000-04-24 06:30:00'), 
    '2000991': ('1999-04-22 16:50:00', '2000-04-22 17:00:00'),
    '2000992': ('1999-04-26 11:20:00', '2000-04-26 11:30:00'),
    '2000993': ('1999-04-24 10:50:00', '2000-04-24 11:00:00'), 
    '2000994': ('1999-04-24 15:40:00', '2000-04-24 15:50:00'),
    '2000995': ('1999-04-28 15:00:00', '2000-04-28 15:10:00'),
    '2000996': ('1999-04-26 16:40:00', '2000-04-26 16:50:00'),
    '2000997': ('1999-04-28 11:40:00', '2000-04-28 11:50:00')
}

# Create an ExcelWriter object
with pd.ExcelWriter('filtered_data_for_1_year.xlsx', engine='xlsxwriter') as excel_writer:
    # Loop through each sheet in the Excel file
    for sheet_name, df in combined_data_dict.items():
        if sheet_name in date_ranges:
            start_date, end_date = date_ranges[sheet_name]
            filtered_df = filter_outliers(df, start_date, end_date)
            filtered_df.to_excel(f'D:\Grenoble_university\6_month_internship\working space\data',excel_writer, sheet_name=sheet_name, index=False)

print("Filtered data saved successfully.")

Filtered data saved successfully.